.criar {
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}

.criar:hover {
    transition: background-color 0.3s ease;
    background-color: darkgray;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}


.texto {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;

}

.container {
    width: 100%;
    height: 56px;
    background-color: gray;
    
}

.foto {
    position: relative;
    height: 50px;
    width: 10%;
    margin-left: 35%;
    float: right;
}

/*.body {
    background-image: url("fundointegrador.png");
    background-repeat: none;
    background-size: cover; ;
}*/

.foto {
    position: relative;
    height: 100px;
    width: 100px;
}



.image-link {
    display: inline-block;
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none; /* Remove underline */
}

.image-link img {
    width: 50px; /* Defina a largura desejada */
    height: 50px; /* Defina a altura desejada */
    border: none; /* Remove qualquer borda na imagem */
}

.card {
    position: relative;
    left: 200px;
}

.pe {
    color: white;
    display: flex;
    margin-top: 100px;
    background-color: grey;
    width: 100%;
    
}

.textowhite {
    color: white;
    padding: 10px 10px;
    text-decoration: none;
}

.textowhite:hover {
    transition: color 0.3s ease;
    color: blue;
    padding: 10px 10px;
    text-decoration: none;
}

.textowhites {
    color: white;
    padding: 10px 10px;
    text-decoration: none;
}
