<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">

</head>
<body>
  <div class="titulo">
  <legend>Agenda BarberConnect</legend>
</div>
<div class="card">
<form action="{{ url_for('agendar') }}" method="post" enctype="multipart/form-data"> 
<fieldset>


  <div class="form-group">
    <label for="cliente">Cliente</label>
    <input type="text" id="cliente" name="cliente" class="form-control">
  </div>
<div class="control-group">
  <p>Serviços</p>
  <label>
    <input type="checkbox" name="checkboxes" value="corte" {% if 'corte' in request.form.getlist('checkboxes') %}checked{% endif %}> Corte (R$40)
</label><br>
<label>
    <input type="checkbox" name="checkboxes" value="barba" {% if 'barba' in request.form.getlist('checkboxes') %}checked{% endif %}> Barba (R$20)
</label><br>
<label>
    <input type="checkbox" name="checkboxes" value="sobracelha" {% if 'bigode' in request.form.getlist('checkboxes') %}checked{% endif %}> sobracelha (R$10)
</label><br><br>


<div class="form-group">
  <label for="dia">Dia</label>
  <input type="date" id="dia" name="dia" value="{{ dia }}" class="form-control">
</div>



<div class="control-group">
  <label class="control-label" for="selecthorarios">Horarios Disponiveis</label>
  <div class="controls">
    <select id="selecthorarios" name="selecthorarios" class="input-xlarge">
      <option>08:00</option>
      <option>09:30</option>
      <option>10:30</option>
      <option>13:00</option>
      <option>14:30</option>
      <option>15:30</option>
      <option>16:30</option>
      <option>17:30</option>
      <option>18:30</option>
      </option>
    </select>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="consulta"></label>
  <div class="controls">
    <button type="submit" class="btn btn-primary">Salvar</button>
  </div>
</div>


</fieldset>
</form>
{% if dia %}
        <p>Data selecionada: {{ dia }}</p>
    {% endif %}
</div>
</body>