<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faça seu cadastro</title>
    <link rel="stylesheet" href="stylesc.css">
</head>
<body class="body">
    <div class="meio">
    
    
        Digite seu email:
        <input type="text" value="E-mail" size="67"><br><br>
    
    
        Digite seu nome:
        <input type="text" value="Nome" size="67"><br><br>
    
    
        Digite seu telefone:
        <input type="text" value="telefone" size="67"><br><br>
    
    
        Crie uma senha:
        <input type="text" value="senha" size="67"><br><br>
    
</div>
<a href="index.html" class="btao">Cadastrar</a>
    
</body>
</html>